@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: lightskyblue;
  --dark-color: hsl(from var(--main-color) h s calc(l * 0.5));
  --interact-color: #73bbfa;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color: #1a1a1a;

}

header {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #e0e0e0;
}

main {
  padding: 2rem;
}

.nav-dropdown a {
  color: var(--main-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-dropdown a:hover {
  transform: translateY(-3px);
  color: var(--interact-color);
}

.nav-dropdown {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navname {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  transition: transform 0.2s ease;
  font-family: "Raleway", sans-serif;
}

.navname:hover{
  transform: scale(1.5);
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  border-bottom: 1px solid var(--main-color);
}

main section h1 {
  color: var(--main-color);
}

#weatherForm {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  max-width: 400px;
}

#cityInput {
  border: 1px solid var(--main-color);
  flex: 1;
  padding: 10px 14px;
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
}
#cityInput:focus {
  outline: none;
  border-color: var(--interact-color);
}

#weatherForm button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  background: var(--main-color);
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}
#weatherForm button:hover {
  background: var(--interact-color);
}

#weatherResult {
  margin-top: 15px;
}

#weatherResult h2 {
  color: var(--main-color);
}

#airForm {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  max-width: 400px;
}

#airForm button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  background: var(--main-color);
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}
#airForm button:hover {
  background: var(--interact-color);
}

#airResult {
  margin-top: 15px;
}

#airResult h2 {
  color: var(--main-color);
}

